* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  padding: 2rem;
  background-color: #f7d6c7;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.1rem;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: rgb(199, 127, 102);
}

main {
  padding: 1rem;
  margin: 2rem;
}
.container {
  display: flex;
  gap: 5rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.sections {
  border-radius: 5rem;
  padding: 1rem;
  background-color: #f7e1d2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 30rem;
  font-size: 1rem;
}
img {
  display: flex;
  height: 17rem;
  max-width: 100%;
}
video {
  height: 20rem;
  width: 20rem;
}

footer {
  padding: 2rem;
  text-align: center;
  background-color: #f7d6c7;
}

@media (max-width: 600px) {
  header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    gap: 2rem;
  }
  header h1 {
    align-self: center;
    font-size: 2rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .sections {
    border-radius: 5rem;
    padding: 2rem;
    background-color: #f7e1d2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40rem;
    width: 30rem;
    font-size: 1.4rem;
  }
  footer {
    padding: 2rem;
    text-align: center;
    background-color: #f7d6c7;
    font-size: 2rem;
  }
}
