@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  color: black;
  background-color: whitesmoke;
}

.dark {
  color: whitesmoke;
  background-color: black;
}
:root {
  min-height: 50vh;
  min-width: 50vh;
  place-items: center;
}
