nav {
  display: flex;
  flex-direction: row;
  height: 8rem;
  justify-content: space-around;
  align-items: center;

  background-image: linear-gradient(
    to bottom,
    rgb(117, 187, 201),
    rgb(232, 193, 163, 0)
  );
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  min-height: 5rem;
  justify-content: space-around;
  align-items: center;

  background-image: linear-gradient(
    to top,
    rgb(117, 187, 201),
    rgb(232, 193, 163, 0)
  );
  width: 100%;

  position: relative;
  bottom: 0;
}

.section {
  min-height: 50vh;
}
